<ol id="joyRideTipContent">

    <li>{{ 'catalogueIntroduction'|trans }}
        <img src="{{ asset('assets/images/exoticcatalog.png') }}" alt="" />
    </li>

    <li>{{ 'partSearchLabelIntroduction'|trans }}</li>

    <li>{{ 'partSearchIntroduction'|trans }}</li>

    <li>{{ 'myCartLabelIntroduction'|trans }}</li>

    <li>{{ 'myCartIntroduction'|trans }}</li>

    {#<li data-id="searchForPartFlap">Tip content...</li>#}



    {#<li data-class="parent-element-class" data-options="tipLocation:top;tipAnimation:fade" data-button="Second Button">#}
        {#Content...#}
    {#</li>#}

    {#<li data-id="myCartWrap">Content...</li>#}
</ol>