{% extends 'PageBundle::base.html.twig' %}

{% block content %}
<div class="wrap text">

    <!---start-Features---->
    <div class="feature-grids">

        <div class="feature-grid-head">
            <div class="feature-grid-head-top">
                <label></label><span></span><label></label>
                <div class="clear"> </div>
                <a href="{{ path('catalog_brand_select') }}">{{ partsGroups[0].model.brand.name }}</a> /
                <a href="{{ path('catalog_model_select', {'brandId': partsGroups[0].model.brand.id}) }}">{{ partsGroups[0].model.name }}</a>
                <h3>{{ partsGroups[0].model.name }}</h3>
            </div>
        </div>
        <div class="clear"> </div>
        <div class="feature-grid">
            <div class="feature-grid-center">
                <div class="partGroupsContainer">
                    {% for partsGroup in partsGroups %}
                        <div class="partGroup">
                            <a href="{{ path('catalog_part_select', {'partsGroupId': partsGroup.id}) }}"><img class="img-zoom" src='{{ asset(partsGroup.imagePath, 'catalog_images') }}' alt="" />
                            {{ partsGroup.name }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>


</div>
{% endblock %}