{% extends 'PageBundle::base.html.twig' %}

{% block content %}
<div class="wrap text">

    <div class="feature-grids">

        <div class="feature-grid-head">
            <div class="feature-grid-head-top">
                <label></label><span></span><label></label>
                <div class="clear"> </div>

                <h3>{{ parts[0].partsGroup.name }}</h3>
            </div>
        </div>
        <div class="clear"> </div>
        <div class="feature-grid">

            <div class="feature-grid-center">
                                    <img src='{{ asset(parts[0].partsGroup.imagePath, 'catalog_images') }}' alt="" align="right" />
                <div class="clear"></div>
            </div>

            <div class="feature-tables">
                <div class="feature-table">
                <table id="partsTable" class="large-only" cellspacing="0">
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        <th>{{ 'number'|trans }}</th>
                        <th>{{ 'partNumber'|trans }}</th>
                        <th>{{ 'requiredQuantity'|trans }}</th>
                        <th>{{ 'price'|trans }}</th>
                        <th>{{ 'quantity'|trans }}</th>
                        <th></th>
                    </tr>
                {% for part in parts %}
                    <tr {% if part.partNumber == highlightedPartNumber %} class = "highlighted" {% endif %}>
                        <td>{{ part.name }}</td>
                        <td>{{ part.onImageNumber }}</td>
                        <td>{{ part.partNumber }}</td>
                        <td>{{ part.quantity }}</td>
                        <td>{{ part.getActualPriceText(exchangeRates, 1) }}</td>
                        <td><input type="number" id="quantity_part_{{ part.id }}" min="1" value="1"></td>
                        <td><a href="" class="addToCart" id="part_{{ part.id }}">{{ 'addToCart'|trans }}</a></td>
                    </tr>
                {% endfor %}
                
                </table>
                </div>
            </div>
        </div>
        <div class="clear"> </div>
    </div>


</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript">
        $('#partsTable').stacktable({myClass: 'stacktable small-only'});

        function addToCartButtonPressed(id, quantityValue) {
            var url = '{{ path('ajax_add_part_to_cart', {'partId': 'id', 'quantity': 'quantityValue'}) }}';
            url = url.replace("id", id);
            url = url.replace("quantityValue", quantityValue);
            $.ajax({
                url: url,
                cache: false,
                success: function (result) {
                    $("#cartContent").load('{{ path('catalog_my_cart') }}');
                }
            });
        }

        $(document).ready(function () {
            $('.addToCart').on('click', function (event) {
                event.preventDefault();
                partId = event.target.id;
                quantityValue = $('input[id="quantity_'+partId+'"]:visible').val();
                console.log(quantityValue);
                partIdValue = partId.replace('part_', '');
                addToCartButtonPressed(partIdValue, quantityValue);
            });

        });

    </script>
{% endblock %}