<div id="cartContent">
    <h3>{{ 'cart'|trans }}</h3>
    {% if cart %}
        {% set previousBrandName = '' %}
        {% set previousModelName = '' %}
        {% set previousPartsGroupName = '' %}

        <ul>

            {% for item in cart %}
                {% if loop.first == false %}
                    {% if item['part'].partsgroup.model.brand.name != previousBrandName  %}
                    </ul></li>
                {% endif %}
                {% if item['part'].partsgroup.model.name != previousModelName  %}
            </ul></li>
        {% endif %}
        {% if item['part'].partsgroup.name != previousPartsGroupName  %}
    </ul></li>
{% endif %}   
{% endif %}

{% if item['part'].partsgroup.model.brand.name != previousBrandName  %}
    <li> {{ item['part'].partsGroup.model.brand.name }} <ul>
        {% endif %}
        {% if item['part'].partsgroup.model.name != previousModelName  %}
            <li> {{ item['part'].partsGroup.model.name }} <ul>
                {% endif %}
                {% if item['part'].partsgroup.name != previousPartsGroupName  %}
                    <li> {{ item['part'].partsGroup.name }} <ul class="partList">
                        {% endif %}   
                        <li> {{ item['quantity'] }} x {{ item['part'].name }} - {{item['part'].getActualPriceText(exchangeRates, item['quantity']) }} <a href="" class="removeFromCart" id="{{ item['part'].id }}">{{ 'removeFromCart'|trans }}</a></li>
                        

                        {% if loop.last == true %}
                        </ul></li>
                </ul></li>
        </ul></li>
    {% endif %}  

{% set previousBrandName = item['part'].partsgroup.model.brand.name %}
{% set previousModelName = item['part'].partsgroup.model.name %}
{% set previousPartsGroupName = item['part'].partsgroup.name %}   

{% endfor %}
</ul>
<div class="contact-form">
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="text-box">{{ form_widget(form.name, {'attr': {'placeholder': 'imie'|trans } }) }}</div>
    <div class="text-box">{{ form_widget(form.email, {'attr': {'placeholder': 'emailNadawcy'|trans } }) }}</div>
    <div class="text-box">{{ form_widget(form.phone, {'attr': {'placeholder': 'telefon'|trans } }) }}</div>
    <div class="clear"> </div>
    <div class="textarea-box" id="small-textarea-box">{{ form_widget(form.message, {'attr': {'placeholder': 'trescWiadomosci'|trans } }) }}</div>
    <div class="clear"> </div>
    {{ form_widget(form.send, { 'label': 'wyslij'|trans, 'id': 'widened-send-button' }) }}
{{ form_end(form) }}
</div>
{% endif %}
</div>
{% block javascripts %}
<script type="text/javascript">

function removeFromCartButtonPressed(id){
    var url = '{{ path('ajax_remove_part_from_cart', {'partId': 'id'}) }}'; 
    url = url.replace("id", id);
            $.ajax({
          url: url,
          cache: false,
          success: function(result){
             $("#cartContent").load('{{ path('catalog_my_cart') }}');
          }
        });
}

$(document).ready(function() {     
  $('.removeFromCart').on('click', function(event){
        event.preventDefault();
        removeFromCartButtonPressed(this.id);
    });
});

</script>
{% endblock %}
