{% extends 'PageBundle::base.html.twig' %}

{% block content %}
<div class="wrap text">

    <!---start-Features---->
    <div class="feature-grids">

        <div class="feature-grid-head">
            <div class="feature-grid-head-top">
                <label></label><span></span><label></label>
                <div class="clear"> </div>

                <h3>{{ 'start'|trans }}</h3>
            </div>
        </div>
        <div class="clear"> </div>
        <div class="feature-grid">

            <div class="feature-grid-center">
                <div class="clear"> </div>
            </div>

            <div class="feature-grid-center">
                <p>{{ 'startTekst1'|trans|raw }}</p>
            </div>
            <div class="feature-grid-center image">
                <a href="{{ path('catalog_brand_select') }}">
                    <img src="{{ asset('assets/images/exoticcatalog.png') }}" alt="" />
                </a>
            </div>
        </div>
        <div class="clear"> </div>
    </div>


</div>
    {{ include('PageBundle:Joyride:joyride_steps.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            blink = function(element){
                for(i = 0; i<3; i++) {
                    element.fadeOut(600).fadeIn(600);
                }
            }
//            $('#searchForPart').find('.flap').find('div').attr('id', 'searchForPartFlap');
//            $('#myCart').find('.flap').find('div').attr('id', 'myCartFlap');
//            $('#searchForPart').find('.extruder_content').attr('id', 'searchForPartContent');
            $("#joyRideTipContent").joyride({
                autoStart: true,
                tipAnimation: 'fade',
                'tipAnimationFadeSpeed': 800,
                'modal': true,
                'cookieMonster': true,
                'postStepCallback': function(index, tip){
                    if(index==0) {
                        blink($('#searchForPart .flap'));
                    } else if(index==1) {
                        $('#searchForPart').openMbExtruder(true);
                    } else if(index==2) {
                        blink($('#myCart .flap'));
                    } else if(index==3) {
                        $('#myCart').openMbExtruder(true);
                    }
                }
            });
        });
    </script>
{% endblock %}